
#Bolded_Paragraph{
    font-size: 15px;
    font-weight: 700;
}

#Paragraph{
    font-size: 15px;
    font-weight: 400;
}

.container{
    max-width: 300px;
    margin-bottom: 20vh;
    margin: 12 auto;
 }
.card{
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 10px;
    border-radius: 10px;
}

.attribution{
    position: fixed;
    bottom: 0;
}

img{
    width: 100%;
    border-radius: 12px;
}

body{

    font-size: 15px; 
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
    background-color: hsl(212, 45%, 89%);
}

@media screen and (min-width: 1440px) {
    body {
       width: 1440px;
       font-size: 15px; 
       background-color: hsl(212, 45%, 89%);
       margin: 0 auto;
    }
 }

@media screen and (min-width: 375px) {
    body {
       width: 375px;
       font-size: 15px; 
       background-color: hsl(212, 45%, 89%);
       margin: 20vh;
       margin: auto;
    }
 }

