

.container{
   max-width: 300px;
   margin: 0 auto;
   margin-top: 20vh;
}

#Bolded_Paragraph{
    font-size: 15px;
    font-weight: 700;
}

#Paragraph{
    font-size: 15px;
    font-weight: 400;
}

img{
    width: 85%;
    border-radius: 12px;
}

body{
    font-size: 15px; 
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
    background-color: hsl(0, 94%, 48%);
}

@media screen and (min-width: 1440px) {
    body {
       width: 1440px;
       font-size: 15px; 
       /* background-color: hsl(212, 45%, 89%); */
       background-color: hsl(0, 94%, 48%);
    }
 }

@media screen and (min-width: 375px) {
    body {
       width: 375px;
       font-size: 15px; 
       /* background-color: hsl(212, 45%, 89%); */
       background-color: hsl(0, 94%, 48%);
    }
 }

