
body{
    font-size: 15px; 
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
    background-color: hsl(212, 45%, 89%);
}

#Bolded_Paragraph{
    font-weight: 700;
}

#Paragraph{
    font-weight: 400;
}

img{
    border-radius: 5px;
}

@media screen and (min-width: 1440px) {
    body {
       width: 1440px;
       font-size: 15px; 
       background-color: hsl(212, 45%, 89%);
    }
 }

@media screen and (min-width: 375px) {
    body {
       width: 375px;
       font-size: 15px; 
       background-color: hsl(212, 45%, 89%);
    }
 }

